/* Estilo do cabeçalho */
.header {
    background-color: #ff5722;
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    transition: top 0.3s;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.hidden {
    top: -100px;
}

/* Background da página principal */
.background1 {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100vw; 
    height: 200vh; 
    background-image: url('../imagens/mainRestaurante.jpg'); 
    background-size: cover; 
    background-position: center; 
    transform: rotate(90deg);
    z-index: -1; 
}

/* Barra lateral */
.sidebar {
    position: fixed;
    top: 70px;
    left: 0;
    width: 250px;
    height: calc(100% - 70px);
    background-color: #f8f9fa;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}

.sidebar.active {
    transform: translateX(0); /* Move a barra lateral para dentro da tela */
}

/* Estilos para a animação das barras */
#toggleSidebar {
    position: absolute;
    left: 15px; 
    top: 15px;
    border: none;
    background: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: red;
    transition: transform 0.3s ease;
}

.bar.rotate {
    transform: rotate(90deg); /* Rotaciona as barras para a posição vertical */
}

/*popop*/
/* Estilo geral do popup */
.perfil-popup {
    display: none;
    position: absolute;
    top: 70px;
    right: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2); 
    z-index: 1000;
    min-width: 250px;
    transition: all 0.3s ease-in-out;
}


.perfil-popup.show {
    display: block;
    opacity: 1;
    transform: translateY(0); 
}


.perfil-popup {
    opacity: 0;
    transform: translateY(-10px);
}

/* Estilo interno do popup */
.perfil-popup h4 {
    font-size: 1.2rem;
    color: #333;
    text-align: center;
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}


.perfil-popup ul {
    list-style: none;
    padding: 0;
    margin: 0;
}


.perfil-popup ul li {
    padding: 10px 0;
    text-align: center;
}

/* Links */
.perfil-popup ul li a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
    display: block;
    transition: background-color 0.3s, color 0.3s; 
}

/* Estilo ao passar o mouse nos links */
.perfil-popup ul li a:hover {
    background-color: #f0f0f0; 
    color: #0056b3; 
    border-radius: 5px;
}

/* Ajustes para mobile */
@media (max-width: 768px) {
    .perfil-popup {
        right: 10px;
        min-width: 200px;
    }
}
