body {
    font-family: Arial, sans-serif;
    background-color: #FFA500; 
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
}


.perfil-container {
    background-color: rgba(255, 255, 255, 0.9); 
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: auto;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.perfil-container h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.perfil-info {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.perfil-item {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.perfil-item label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

.perfil-item input, .perfil-item textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #f4f4f4;
    color: #333;
    font-size: 14px;
}


.search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-top: 1px solid #ddd;
    margin-top: auto;
}

.search-bar input {
    width: 80%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}