body{
    background-image: url("../imagens/mainRestaurante.jpg");
}
.recipe-card {
    transition: transform 0.3s ease;
}

.recipe-card:hover {
    transform: translateY(-5px);
}

.book-card {
    transition: transform 0.3s ease;
}

.book-card:hover {
    transform: translateY(-5px);
}

.review-card {
    transition: transform 0.3s ease;
    background-color: #000;
    border-radius: 20px;
}

.review-card:hover {
    transform: translateY(-5px);
}

.main-banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.5));
}